In [1]:
import pandas as pd
import os
import re
import numpy as np

1. Cleaning the table olist_customers_dataset
1.1 Checking general status
1.2 Checking null values
1.3 Checking if the Primary Key is duplicated

In [2]:
raw_path = '../../data/raw/'
df_customers_dataset = pd.read_csv(os.path.join(raw_path, 'olist_customers_dataset.csv'))

In [3]:
df_customers_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [4]:
df_customers_dataset.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [5]:
df_customers_dataset.nunique()

customer_id                 99441
customer_unique_id          96096
customer_zip_code_prefix    14994
customer_city                4119
customer_state                 27
dtype: int64

In [ ]:
df_customers_dataset[df_customers_dataset.duplicated(subset=['customer_id'], keep=False)]

Empty DataFrame
Columns: [customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state]
Index: []

In [61]:
output_path_ready = '../../data/ready/df_customers_dataset.csv'
df_customers_dataset.to_csv(output_path_ready, index=False)

2. Cleaning the table olist_geolocation_dataset
2.1 Checking general status
2.2 Checking null values
2.3 Checking if the Primary Key is duplicated

In [7]:
raw_path = '../../data/raw/'
df_geolocation_dataset = pd.read_csv(os.path.join(raw_path, 'olist_geolocation_dataset.csv'))

In [8]:
df_geolocation_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [9]:
df_geolocation_dataset.isnull().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [10]:
df_geolocation_dataset.nunique()

geolocation_zip_code_prefix     19015
geolocation_lat                717360
geolocation_lng                717613
geolocation_city                 8011
geolocation_state                  27
dtype: int64

In [62]:
output_path_ready = '../../data/ready/df_geolocation_dataset.csv'
df_geolocation_dataset.to_csv(output_path_ready, index=False)

3. Cleaning the table olist_order_items_dataset
3.1 Checking general status
3.2 Checking null values
3.3 Checking if the Primary Key is duplicated
3.4 Export the new table

In [11]:
raw_path = '../../data/raw/'
df_order_items_dataset = pd.read_csv(os.path.join(raw_path, 'olist_order_items_dataset.csv'))

In [12]:
df_order_items_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [13]:
df_order_items_dataset['shipping_limit_date'] = pd.to_datetime(df_order_items_dataset['shipping_limit_date'])

In [14]:
df_order_items_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  datetime64[ns]
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.0+ MB

In [15]:
df_order_items_dataset.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [16]:
df_order_items_dataset.nunique()

order_id               98666
order_item_id             21
product_id             32951
seller_id               3095
shipping_limit_date    93318
price                   5968
freight_value           6999
dtype: int64

In [76]:
output_path = '../../data/processed/df_order_items_com_datas.csv'
df_order_items_dataset.to_csv(output_path, index=False)

In [63]:
output_path_ready = '../../data/ready/df_order_items_com_datas.csv'
df_order_items_dataset.to_csv(output_path_ready, index=False)

4. Cleaning the table olist_order_payments_dataset
4.1 Checking general status
4.2 Checking null values
4.3 Checking if the Primary Key is duplicated
4.4 Export the new table

In [17]:
raw_path = '../../data/raw/'
df_olist_order_payments_dataset = pd.read_csv(os.path.join(raw_path, 'olist_order_payments_dataset.csv'))

In [18]:
df_olist_order_payments_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [19]:
df_olist_order_payments_dataset.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [20]:
df_olist_order_payments_dataset.nunique()

order_id                99440
payment_sequential         29
payment_type                5
payment_installments       24
payment_value           29077
dtype: int64

In [21]:
df_olist_order_payments_dataset[df_olist_order_payments_dataset.duplicated(subset=['order_id', 'payment_sequential'], keep=False)]

Empty DataFrame
Columns: [order_id, payment_sequential, payment_type, payment_installments, payment_value]
Index: []

In [64]:
output_path_ready = '../../data/ready/df_olist_order_payments_dataset.csv'
df_olist_order_payments_dataset.to_csv(output_path_ready, index=False)

5. Cleaning the table olist_order_reviews_dataset
5.1 Checking general status
5.2 Checking null values
5.3 Checking if the Primary Key is duplicated
5.4 Export the new table

In [22]:
raw_path = '../../data/raw/'
df_olist_order_reviews_dataset = pd.read_csv(os.path.join(raw_path, 'olist_order_reviews_dataset.csv'))

In [23]:
df_olist_order_reviews_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [24]:
df_olist_order_reviews_dataset.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [25]:
df_olist_order_reviews_dataset['review_comment_title'].fillna('Empty', inplace=True)
df_olist_order_reviews_dataset['review_comment_message'].fillna('Empty', inplace=True)

C:\Users\lpraz\AppData\Local\Temp\ipykernel_3640\1108133142.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_olist_order_reviews_dataset['review_comment_title'].fillna('Empty', inplace=True)
C:\Users\lpraz\AppData\Local\Temp\ipykernel_3640\1108133142.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_olist_order_reviews_dataset['review_comment_message'].fillna('Empty', inplace=True)

In [26]:
df_olist_order_reviews_dataset.isnull().sum()

review_id                  0
order_id                   0
review_score               0
review_comment_title       0
review_comment_message     0
review_creation_date       0
review_answer_timestamp    0
dtype: int64

In [27]:
df_olist_order_reviews_dataset.head(15)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,Empty,Empty,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,Empty,Empty,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,Empty,Empty,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,Empty,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,Empty,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
5,15197aa66ff4d0650b5434f1b46cda19,b18dcdf73be66366873cd26c5724d1dc,1,Empty,Empty,2018-04-13 00:00:00,2018-04-16 00:39:37
6,07f9bee5d1b850860defd761afa7ff16,e48aa0d2dcec3a2e87348811bcfdf22b,5,Empty,Empty,2017-07-16 00:00:00,2017-07-18 19:30:34
7,7c6400515c67679fbee952a7525281ef,c31a859e34e3adac22f376954e19b39d,5,Empty,Empty,2018-08-14 00:00:00,2018-08-14 21:36:06
8,a3f6f7f6f433de0aefbb97da197c554c,9c214ac970e84273583ab523dfafd09b,5,Empty,Empty,2017-05-17 00:00:00,2017-05-18 12:05:37
9,8670d52e15e00043ae7de4c01cc2fe06,b9bf720beb4ab3728760088589c62129,4,recomendo,aparelho eficiente. no site a marca do aparelh...,2018-05-22 00:00:00,2018-05-23 16:45:47
10,c9cfd2d5ab5911836ababae136c3a10c,cdf9aa68e72324eeb25c7de974696ee2,5,Empty,Empty,2017-12-23 00:00:00,2017-12-26 14:36:03
11,96052551d87e5f62e6c9f6974ec392e9,3d374c9e46530bb5ed4a7648915306a6,5,Empty,Empty,2017-12-19 00:00:00,2017-12-20 10:25:22
12,4b49719c8a200003f700d3d986ea1a19,9d6f15f95d01e79bd1349cc208361f09,4,Empty,"Mas um pouco ,travando...pelo valor ta Boa.\r\n",2018-02-16 00:00:00,2018-02-20 10:52:22
13,23f75a37effc35d9a915b4e1ad483793,2eaf8e099d871cd5c22b83b5ea8f6e0e,4,Empty,Empty,2018-03-28 00:00:00,2018-03-30 15:10:55
14,9a0abbb668bafb95a6d2b05db43284c4,d7bd0e4afdf94846eb73642b4e3e75c3,3,Empty,Empty,2017-04-30 00:00:00,2017-05-03 00:02:22

In [28]:
def cleaining_text(text):
    text = text.lower()  
    text = re.sub(r'[^a-zA-Zà-úÀ-Ú\s]', '', text) 
    text = re.sub(r'\s+', ' ', text).strip() 
    return text

In [29]:
df_olist_order_reviews_dataset['review_comment_message'] = df_olist_order_reviews_dataset['review_comment_message'].apply(cleaining_text)
df_olist_order_reviews_dataset['review_comment_title'] = df_olist_order_reviews_dataset['review_comment_title'].apply(cleaining_text)

In [30]:
df_olist_order_reviews_dataset.nunique()

review_id                  98410
order_id                   98673
review_score                   5
review_comment_title        3165
review_comment_message     33689
review_creation_date         636
review_answer_timestamp    98248
dtype: int64

In [31]:
df_olist_order_reviews_dataset[df_olist_order_reviews_dataset.duplicated(subset=['order_id', 'review_id'], keep=False)]

Empty DataFrame
Columns: [review_id, order_id, review_score, review_comment_title, review_comment_message, review_creation_date, review_answer_timestamp]
Index: []

In [49]:
output_path = '../../data/processed/df_olist_order_reviews_dataset.csv'
df_olist_order_reviews_dataset.to_csv(output_path, index=False)

In [65]:
output_path_ready = '../../data/ready/df_olist_order_reviews_dataset.csv'
df_olist_order_reviews_dataset.to_csv(output_path_ready, index=False)

6. Cleaning the table olist_orders_dataset
6.1 Checking general status, datetime
6.2 Checking null values
6.3 Checking if the Primary Key is duplicated
6.4 Export the new table

In [32]:
raw_path = '../../data/raw/'
df_olist_orders_dataset = pd.read_csv(os.path.join(raw_path, 'olist_orders_dataset.csv'))

In [33]:
df_olist_orders_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [34]:
df_olist_orders_dataset['order_purchase_timestamp'] = pd.to_datetime(df_olist_orders_dataset['order_purchase_timestamp'], errors='coerce')
df_olist_orders_dataset['order_approved_at'] = pd.to_datetime(df_olist_orders_dataset['order_approved_at'], errors='coerce')
df_olist_orders_dataset['order_delivered_carrier_date'] = pd.to_datetime(df_olist_orders_dataset['order_delivered_carrier_date'], errors='coerce')
df_olist_orders_dataset['order_delivered_customer_date'] = pd.to_datetime(df_olist_orders_dataset['order_delivered_customer_date'], errors='coerce')
df_olist_orders_dataset['order_estimated_delivery_date'] = pd.to_datetime(df_olist_orders_dataset['order_estimated_delivery_date'], errors='coerce')

In [35]:
df_olist_orders_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

In [36]:
df_olist_orders_dataset.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [ ]:

df_olist_orders_dataset['approval_status'] = df_olist_orders_dataset.apply(
    lambda row: 'not approved' if pd.isna(row['order_approved_at']) and pd.isna(row['order_delivered_carrier_date']) and pd.isna(row['order_delivered_customer_date'])
    else 'approved',
    axis=1
)


df_olist_orders_dataset['carrier_status'] = df_olist_orders_dataset.apply(
    lambda row: 'not carried' if pd.isna(row['order_delivered_carrier_date']) and pd.isna(row['order_delivered_customer_date'])
    else ('dispatched' if pd.isna(row['order_delivered_carrier_date']) and not pd.isna(row['order_delivered_customer_date']) else 'carried'),
    axis=1
)


df_olist_orders_dataset['delivered_status'] = df_olist_orders_dataset['order_delivered_customer_date'].apply(
    lambda x: 'not delivered' if pd.isna(x) else 'delivered'
)

In [38]:
df_olist_orders_dataset.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
approval_status                     0
carrier_status                      0
delivered_status                    0
dtype: int64

In [39]:
df_olist_orders_dataset['order_approved_at'].fillna(pd.to_datetime('1900-01-01'), inplace=True)
df_olist_orders_dataset['order_delivered_carrier_date'].fillna(pd.to_datetime('1900-01-01'), inplace=True)
df_olist_orders_dataset['order_delivered_customer_date'].fillna(pd.to_datetime('1900-01-01'), inplace=True)

C:\Users\lpraz\AppData\Local\Temp\ipykernel_3640\226129217.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_olist_orders_dataset['order_approved_at'].fillna(pd.to_datetime('1900-01-01'), inplace=True)
C:\Users\lpraz\AppData\Local\Temp\ipykernel_3640\226129217.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_olist_orders_dataset['order_delivered_carrier_date'].fillna(pd.to_datetime('1900-01-01'), inplace=True)
C:\Users\lpraz\AppData\Local\Temp\ipykernel_3640\226129217.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_olist_orders_dataset['order_delivered_customer_date'].fillna(pd.to_datetime('1900-01-01'), inplace=True)

In [40]:
df_olist_orders_dataset.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
approval_status                  0
carrier_status                   0
delivered_status                 0
dtype: int64

In [41]:
df_olist_orders_dataset[df_olist_orders_dataset.duplicated(subset=['order_id'], keep=False)]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, approval_status, carrier_status, delivered_status]
Index: []

In [42]:
df_olist_orders_dataset.nunique()

order_id                         99441
customer_id                      99441
order_status                         8
order_purchase_timestamp         98875
order_approved_at                90734
order_delivered_carrier_date     81019
order_delivered_customer_date    95665
order_estimated_delivery_date      459
approval_status                      2
carrier_status                       3
delivered_status                     2
dtype: int64

In [97]:
output_path = '../../data/processed/df_olist_orders_dataset.csv'
df_olist_orders_dataset.to_csv(output_path, index=False)

In [66]:
output_path_ready = '../../data/ready/df_olist_orders_dataset.csv'
df_olist_orders_dataset.to_csv(output_path_ready, index=False)

7. Cleaning the table olist_orders_dataset
7.1 Checking general status, datetime
7.2 Checking null values
7.3 Checking if the Primary Key is duplicated
7.4 Export the new table

In [43]:
raw_path = '../../data/raw/'
df_olist_products_dataset = pd.read_csv(os.path.join(raw_path, 'olist_products_dataset.csv'))

In [44]:
df_olist_products_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [45]:
df_olist_products_dataset.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [46]:
df_olist_products_dataset['categorized_status'] = np.where(
    df_olist_products_dataset[['product_category_name', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty']].isnull().any(axis=1),
    'not categorized',
    'categorized'
)

In [ ]:

df_olist_products_dataset['product_name_lenght'].fillna(df_olist_products_dataset['product_name_lenght'].median(), inplace=True)
df_olist_products_dataset['product_description_lenght'].fillna(df_olist_products_dataset['product_description_lenght'].median(), inplace=True)
df_olist_products_dataset['product_photos_qty'].fillna(df_olist_products_dataset['product_photos_qty'].median(), inplace=True)


df_olist_products_dataset['product_category_name'].fillna('not categorized', inplace=True)

C:\Users\lpraz\AppData\Local\Temp\ipykernel_3640\3404328771.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_olist_products_dataset['product_name_lenght'].fillna(df_olist_products_dataset['product_name_lenght'].median(), inplace=True)
C:\Users\lpraz\AppData\Local\Temp\ipykernel_3640\3404328771.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_olist_products_dataset['product_description_lenght'].fillna(df_olist_products_dataset['product_description_lenght'].median(), inplace=True)
C:\Users\lpraz\AppData\Local\Temp\ipykernel_3640\3404328771.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_olist_products_dataset['product_photos_qty'].fillna(df_olist_products_dataset['product_photos_qty'].median(), inplace=True)
C:\Users\lpraz\AppData\Local\Temp\ipykernel_3640\3404328771.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_olist_products_dataset['product_category_name'].fillna('not categorized', inplace=True)

In [48]:
df_olist_products_dataset.dropna(subset=[
    'product_weight_g', 
    'product_length_cm', 
    'product_height_cm', 
    'product_width_cm'
], inplace=True)

In [49]:
df_olist_products_dataset.reset_index(drop=True, inplace=True)

In [50]:
df_olist_products_dataset.nunique()

product_id                    32949
product_category_name            74
product_name_lenght              66
product_description_lenght     2960
product_photos_qty               19
product_weight_g               2204
product_length_cm                99
product_height_cm               102
product_width_cm                 95
categorized_status                2
dtype: int64

In [51]:
df_olist_products_dataset[df_olist_products_dataset.duplicated(subset=['product_id'], keep=False)]

Empty DataFrame
Columns: [product_id, product_category_name, product_name_lenght, product_description_lenght, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm, categorized_status]
Index: []

In [139]:
output_path = '../../data/processed/df_olist_products_dataset.csv'
df_olist_products_dataset.to_csv(output_path, index=False)

In [67]:
output_path_ready = '../../data/ready/df_olist_products_dataset.csv'
df_olist_products_dataset.to_csv(output_path_ready, index=False)

8. Cleaning the table olist_orders_dataset
8.1 Checking general status, datetime
8.2 Checking null values
8.3 Checking if the Primary Key is duplicated

In [52]:
raw_path = '../../data/raw/'
df_olist_sellers_dataset = pd.read_csv(os.path.join(raw_path, 'olist_sellers_dataset.csv'))

In [53]:
df_olist_sellers_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [54]:
df_olist_sellers_dataset.isnull().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [55]:
df_olist_sellers_dataset.nunique()

seller_id                 3095
seller_zip_code_prefix    2246
seller_city                611
seller_state                23
dtype: int64

In [68]:
output_path_ready = '../../data/ready/df_olist_sellers_dataset.csv'
df_olist_sellers_dataset.to_csv(output_path_ready, index=False)

9. Cleaning the table olist_orders_dataset
9.1 Checking general status, datetime
9.2 Checking null values
9.3 Checking if the Primary Key is duplicated

In [56]:
raw_path = '../../data/raw/'
df_product_category_name_translation = pd.read_csv(os.path.join(raw_path, 'product_category_name_translation.csv'))

In [57]:
df_product_category_name_translation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [58]:
df_product_category_name_translation.isnull().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

In [59]:
df_product_category_name_translation.nunique()

product_category_name            71
product_category_name_english    71
dtype: int64

In [69]:
output_path_ready = '../../data/ready/df_product_category_name_translation.csv'
df_product_category_name_translation.to_csv(output_path_ready, index=False)